*{box-sizing: border-box; padding: 0%; margin: 0%;}
:root{--background-color:black; --font-size: 2rem; --color: white;}
body{font-family: 'Finlandica', sans-serif;}
/*-------------- Header div start from here ------------*/
.header{display: flex; width: 100%;}
.header > .left-div{width: 70%; font-size: 2rem; margin-top: 3rem;}
.header > .right-div{width: 30%;}
.header > .right-div > .head-image{height: 25rem; width: 34rem;}
.circle{height: 15rem; width: 15rem; border-radius: 50%; background-image: linear-gradient(to left , rgba(233, 6, 203, 0.986) , rgba(0, 255, 255, 0.6)); margin-top: -8rem; margin-left: -7rem; text-align: center; color: white;}
.circle2{height: 6rem; width: 6rem; border-radius: 50%; background-image: linear-gradient(to left , rgb(21, 255, 0) , cyan);transform: translateX(125rem); margin-top: 4rem; }
.circle3{height: 6rem; width: 6rem; border-radius: 50%; background-image: linear-gradient(to left , rgb(240, 11, 106) , rgba(240, 12, 240, 0.836));transform: translateX(103rem); margin-top: -15rem;}
/*-------------- Header div end from here ------------*/

/*-------------- Main div start from here ------------*/
.main{display: flex; width: 100%;}
.left-div{width: 40%; margin-top: 6rem; padding: 2rem;}
.right-div{width: 60%; font-size: 2rem; padding: 2rem;}
.main> .left-div > .head-image{height: 22rem; width: 24rem; border-radius: 50%; box-shadow: 0 2rem 7rem black;}
.sideImage{height: 8rem; width:8em; border-radius: 50%; border: 2.4rem solid rgba(226, 3, 89, 0.8) ; transform: translateX(126rem); box-shadow: 0rem 2rem 8rem black;}
/*-------------- Main div end from here ------------*/

/*-------------- Footer div start from here ------------*/
.footer{display: flex; width: 100%;}
.footer > .left-div{width: 45%; height: auto; margin:3rem; margin-top: 7rem; box-shadow: 0rem 2rem 7rem black; font-size: 2rem; border-left: 1rem solid lime ; padding: 1rem; justify-content: center; border-radius: 4rem; font-family: 'Finlandica', sans-serif;}
.footer > .right-div{width: 45%; height: auto; margin:3rem; margin-top: 7rem; box-shadow: 0rem 2rem 7rem black; font-size: 2rem; border-left:  1rem solid blue ; padding: 1rem; justify-content: center; ; border-radius: 4rem ; font-family: 'Finlandica', sans-serif;}
.footer> .left-div:hover{transform: scale(0.8); transition-duration: 3s;}
.footer> .right-div:hover{transform: scale(0.8); transition-duration: 3s;}
.sideImage2{height: 15rem; width:15rem; border-radius: 50%; border: 4rem solid rgba(0, 26, 255, 0.555) ; transform: translateX(-8rem); margin-top: -4rem;}
.circlefooter{height: 5rem; width: 5rem; border-radius: 50%; background-image: linear-gradient(to left , rgba(233, 6, 203, 0.986) , rgba(0, 255, 255, 0.6)); margin-top: -6rem; transform: translateX(134rem); }
/*-------------- Footer div end from here ------------*/

button{background-image: linear-gradient(to right , orange , rgb(218, 16, 167)); padding:1.5rem; border: none; border-radius: 6rem;
text-align: center; color: white; font-size: 3rem; margin-left: 35rem; text-transform: uppercase; box-shadow: 0 2rem 8rem rgb(4, 5, 4);
font-family: 'Finlandica', sans-serif;
}
a{text-decoration: none; color: white;}
button:hover{cursor: pointer; background-color: white; color: lime; transition-duration: 1s;}
.text{color: orange;}
/*----------- RWD START FROM HERE ------------*/
html{font-size: 62.5%;}
@media all and (max-width:1200px) { html{font-size: 62.5%;}}
@media all and (max-width:1000px) { html{font-size: 50.5%;}}
@media all and (max-width:900px) { html{font-size: 42.5%;}}
@media all and (max-width:700px) { html{font-size: 32.5%;}}
@media all and (max-width:500px) { html{font-size: 28.5%;}}
/*----------- RWD END FROM HERE ------------*/
